<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849020412330-upavtqg0sbrnn6fg390b0dimncg8v9qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849020412330-upavtqg0sbrnn6fg390b0dimncg8v9qg</string>
	<key>API_KEY</key>
	<string>AIzaSyCG8ZnxPY4QEnWhxNXjma75wFusooUFUfM</string>
	<key>GCM_SENDER_ID</key>
	<string>849020412330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.franknfjr.InstagramFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-8d475</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-8d475.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849020412330:ios:f26f52368fd8d5a6</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebase-8d475.firebaseio.com</string>
</dict>
</plist>